<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 Curtis Larson (QuackWare).
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionName="@string/version"
       android:versionCode="2" package="com.quackware.handsfreemusic">
    <application android:label="@string/app_name"
      android:icon="@drawable/ic_launcher" android:debuggable="false">
        <activity android:name="com.quackware.handsfreemusic.HandsFreeMusic"
        android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.quackware.handsfreemusic.PreferencesActivity"
        android:label="@string/preferences">
        </activity>
        <activity android:name="com.quackware.handsfreemusic.HelpActivity"
        android:label="@string/help">
        </activity>
        <activity android:name="com.quackware.handsfreemusic.BindActivity"
        android:label="@string/binds">
        </activity>
        <service android:name="com.quackware.handsfreemusic.MediaPlayerService" />
	<meta-data android:value="a14c413a22671b6" android:name="ADMOB_PUBLISHER_ID" />
	
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7"/>
    	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 
